{% extends "setting_layout.html" %}


{%block settings_content %}

    <div class="col-md-3 border-left">
  
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <div class="container">
          <div class="row">
            <h6  class="lead fs-3">About You Info</h6>
            <hr>
           
            <div class="col-md">  
              <form action="{{url_for('auth.edit_aboutme_info')}}" method = "post" class ="w-75 mx-auto" enctype="multipart/form-data">
               {{ form.hidden_tag() }}
            
                <div class="form-group">
                  {{form.about_me.label}}
                  {{form.about_me(class="form-control", value = profile.about_me ) }}  
                </div>  
                <br>
                <div class="form-group">
                  {{form.more_about_me.label}}
                  {{form.more_about_me (class="form-control", value = profile.more_notes_about_me ) }}      
                </div> 
                <br>              
                <div class="form-group">
                  <a href="">{{ form.submit(class ='btn btn-primary form-control w-50') }}</a>
                </div>  
              
              </form>
            </div>
        </div> 
      </div>
    </div>
      <!-- this is for the side navigation where profile picture will seat -->
  </div>
</div>

{% endblock settings_content %}
