{% extends "setting_layout.html" %}


{%block settings_content %}

    <div class="col-md-3 border-left">
  
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <div class="container">
          <div class="row">
            <h6  class="lead fs-3">Contact Info</h6>
            <hr>
           
            <div class="col-md">  
              <form action="{{url_for('auth.edit_contact_info')}}" method = "post" class ="w-75 mx-auto" enctype="multipart/form-data">
               {{ form.hidden_tag() }}
            
                <div class="form-group">
                  {{form.province.label}}
                  {{form.province(class="form-control", value = profile.province) }}  
                </div>  
                <br>
                <div class="form-group">
                  {{form.city.label}}
                  {{form.city (class="form-control", value = profile.city) }}      
                </div> 
                <br>


                <div class="form-group">
                  {{form.address.label}}
                  {{form.address (class="form-control", value = profile.street_address) }}      
                </div> 
                <br>

                <div class="form-group">
                  {{form.post_code.label}}
                  {{form.post_code (class="form-control", value = profile.postal_code) }}      
                </div> 
                <br>

                <div class="form-group">
                  {{form.mobile.label}}
                  {{form.mobile (class="form-control", value = profile.phone_number_1) }}      
                </div> 
                <br>

                <div class="form-group">
                  {{form.bizlic.label}}
                  {{form.bizlic(class="form-control", value = profile.business_license_number) }}      
                </div> 
                <br>
                <div class="form-group">
                  <a href="">{{ form.submit(class ='btn btn-primary form-control w-50') }}</a>
                </div>  
              
              </form>
            </div>
        </div> 
      </div>
    </div>
      <!-- this is for the side navigation where profile picture will seat -->
  </div>
</div>

{% endblock settings_content %}
