{% extends "layout.html" %}

{% with messages = get_flashed_messages() %}

  {% if messages %}

    {% for msg in messages %}
      <p>{{msg}}</p>
    {% endfor %}

  {% endif %}

{% endwith %}


{% block body %}

  <form action="/login" method = "post" class ="w-50 mx-auto">
    {{ form.hidden_tag() }}
    
    {% for err in  form.email.errors %} 
        <h6 class="text-danger">{{ err }}</h6>
      {% endfor %}
         
    <div class="form-group">
      {{form.email.label}}
      {{ form.email(class="form-control") }}
      
    </div>
    <br>
    <div class="form-group">
      {{form.password.label}}
      {{ form.password (class="form-control") }}      
    </div>  
    <br>
    <div class="form-group">
      
      {{ form.stayloggedin }} {{form.stayloggedin.label}}     
    </div>  
    <br>
    <div class="form-group">
      <a href="">{{ form.submit(class ='btn btn-primary form-control w-25') }}</a>
    </div>  
    
  </form>

{% endblock body %}