{% extends 'setting_layout.html' %}



{%block settings_content %}


    <div class="col-md-3 border-left">
  
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <div class="container">
            <!-- Basic Infor section -->
            <div class="row">
              <h6  class="lead fs-3">Basic Info</h6>
              <hr>
              <div class="col-md-4">
                <img src="{{url_for('static',filename='profile_image/')}}{{profile.profile_picture}}" class="card-img-top rounded mx-auto w-50 h-100" alt="...">
              </div>
              <div class="col-md-8">
                <h6 class="card-text ms-auto lead fs-5 ">Name: <span class="text-dark fs-6">{{current_user.name.title() }}</span></h6>
                <h6 class="card-text ms-auto lead fs-5 ">Sex: <span class="text-dark fs-6">{{profile.sex }}</span></h6>
                <h6 class="card-text ms-auto lead fs-5 ">Trade: <span class="text-dark fs-6">{{profile.primary_trade }}</span></h6>
              </div>  
            </div>
            <br>
            <br>
            <!-- Contact section -->
            <div class="row">
              <h6 class="lead fs-3" >Contact Info</h6>
              <hr>
              <div class="col-md-6">
                <h6 class="card-text ms-auto lead fs-6">Province: <span class="text-dark fs-6">{{profile.province }}</span> </h6>
                <h6 class="card-text ms-auto lead fs-6">City: <span class="text-dark fs-6"></span>{{profile.city }}</h6>                
                <h6 class="card-text ms-auto lead fs-6">Address: <span class="text-dark fs-6">{{profile.street_address }}</span></h6>  
              </div>  
              <div class="col-md-6">
                <h6 class="card-text ms-auto lead fs-6 ">Mobile: <span class="text-dark fs-6"></span>{{profile.phone_number_1}}</h6>
                <h6 class="card-text ms-auto lead fs-6 ">Business License: <span class="text-dark fs-6"></span>{{profile.business_license_number }}</h6>                
              </div> 
            </div>
            <br>
            <!--About me section -->
            <div class="row">
              <h6  class="lead fs-3">What you do</h6>
              <hr>
              <div class="col-md-12">
                <h6 class="card-text ms-auto lead fs-6 ">About me: <span class="text-dark fs-6"></span>{{profile.about_me }}</h6>                
                <h6 class="card-text ms-auto lead fs-6 ">Notes: <span class="text-dark fs-6"></span>{{profile.more_notes_about_me }}</h6>  
              </div>  
            </div>
            <br>
            <!--Tags section -->
            <div class="row">
              <h6  class="lead fs-3">Tags</h6>
              <hr>
              <div class="col-md-12">
                 <h6 class="card-text ms-auto lead fs-6 ">Electrician, Basement Development, Plumbing, Capentry</h6>  
              </div>  
            </div>
            <br>   
            <!-- Social Media  -->       
            <div class="row">
              <h6  class="lead fs-3">Social Media Info.</h6>
              <hr>
              <div class="col-md-12">
                <h6 class="card-text ms-auto lead fs-6 ">Instagram: <span class="text-dark fs-6 stretched-link"></span>{{profile.instagram}}</h6>                
                <h6 class="card-text ms-auto lead fs-6 ">Facebook: <span class="text-dark fs-6 stretched-link"></span>{{profile.facebook}}</h6>  
                <h6 class="card-text ms-auto lead fs-6 ">Twitter: <span class="text-dark fs-6 stretched-link"></span>{{profile.twitter_x}}</h6>  
              </div>  
            </div>

            <!--Password section -->
            <br>          
            <div class="row">
              <h6  class="lead fs-3">Login</h6>
              <hr>
              <div class="col-md-12">
                <h6 class="card-text ms-auto lead fs-6 ">Email: <span class="text-dark fs-6"></span>{{current_user.email}}</h6>                
                <h6 class="card-text ms-auto lead fs-6 ">Password: <span class="text-dark fs-6"></span>********</h6>  
              </div>  
            </div>



          </div>
        </div> 
      </div>
    </div>
      <!-- this is for the side navigation where profile picture will seat -->

{% endblock %}